@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Администрирование</h1>

<div style="font-size:200%">
    <ol>
        <li><a asp-area="" asp-controller="Afisha" asp-action="Index">Афиша</a></li>
        <li><a asp-area="" asp-controller="Actors" asp-action="Index">Актеры</a></li>
        <li><a asp-area="" asp-controller="Halls" asp-action="Index">Залы</a></li>
        <li><a asp-area="" asp-controller="Seats" asp-action="Index">Места</a></li>
        <li><a asp-area="" asp-controller="Privilege" asp-action="Index">Льготы</a></li>
        <li><a asp-area="" asp-controller="RoleAct" asp-action="Index">Роли актеров</a></li>
        <li><a asp-area="" asp-controller="Orders" asp-action="Index">Заказы</a></li>
        <li><a asp-area="" asp-controller="Performances" asp-action="Index">Спектакли</a></li>
    </ol>
</div>
<style>
    ol {
        background-color: rgba(255, 255, 255, 0.7);
    }
    h1 {
        color: rgba(255, 255, 255, 0.7)
    }
</style>