@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>Выход</h1>
    <p>Выход из аакаунта выполнен успешно.</p>
</header>
<style>
    h1 {
        color: rgba(255, 255, 255);
    }

    p {
        color: rgba(255, 255, 255);
    }
</style>