@model TheatreWeb.Models.Halls

@{
    ViewData["Title"] = "Create";
}

<h1>Новая запись</h1>

<h4>Залы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HallName" class="control-label"></label>
                <input asp-for="HallName" class="form-control" />
                <span asp-validation-for="HallName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Schema" class="control-label"></label>
            <input asp-for="Schema" class="form-control" />
            <span asp-validation-for="Schema" class="text-danger"></span>
        </div>*@
            
            <div class="form-group">
                <label asp-for="CostCoefficient" class="control-label"></label>
                <input asp-for="CostCoefficient" class="form-control" />
                <span asp-validation-for="CostCoefficient" class="text-danger"></span>
            </div>
            <!--<div method="post" enctype="multipart/form-data" asp-action="UploadImage">
        <input type="file" name="file" />-->
            @*<button type="submit">Загрузить</button>*@
            <!--</div>-->
        <div class="form-group" enctype="multipart/form-data">
            <label asp-for="Schema" class="control-label"></label>
            <input asp-for="Schema" type="file" name="schemaImage" class="form-control" enctype="multipart/form-data" />
            <span asp-validation-for="Schema" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
        @*<form action="\images\" method="post" enctype="multipart/form-data">
            <input asp-for="Schema" type="file" name="image" accept="image/*">
            <button type="submit">Загрузить</button>
        </form>*@

        

    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    h1 {
        color: rgba(255, 255, 255, 0.7)
    }
    h4 {
        color: rgba(255, 255, 255, 0.7)
    }
    label {
        color: rgba(255, 255, 255, 0.7)
    }
</style>